---
export interface Props {
  id: number
  name: string
  author: string
  price: number
}

const { id, name, author, price } = Astro.props
const image_path = `/images/products/${id}.png`
---

<a href={`/products/${id}`}>
  <div class="product">
    <div class="product__bg"></div>
    <img class="product__img" src={image_path} alt={name} />
    <h2 class="product__title">{name}</h2>
    <h3 class="product__subtitle">{author}</h3>
    <div class="product__price">${price}</div>
  </div>
</a>
